{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asia Tours</title>
    <link rel="stylesheet" href="{% static "styles/styles.css" %}">
  </head>
  <body>
    <img src="{% static "images/logo.png" %}" alt="logo">
    <h1>Asia Tours Schedule for June 2025</h1>
    <ul>
      {% for tour in tours %}
      <li>{{tour}}</li>
      {% endfor %}
    </ul>
    <form action="{% url 'contact' %}" method="get">
      <button type="submit" class="btn">Click to enter form</button>
    </form>
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>